* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(220, 22%, 16%);
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto auto;
  padding: 2rem;
  text-align: center;
}

main {
  background-color: hsl(213, 18%, 24%);
  color: hsl(193, 38%, 86%);
  padding: 1.25rem 1.25rem 3rem;
  border-radius: 1.25rem;
  position: relative;
  width: 30rem;
}

.advice-id {
  color: hsl(150, 100%, 66%);
  font-size: 15px;
  letter-spacing: 5px;
  margin: 2rem;
}

.advice-txt {
  color: hsl(193, 38%, 86%);
  font-size: 28px
}

/* pattern divider */
.pattern-divider-desktop {
  margin: 2rem 1rem;
}

.pattern-divider-mobile {
  display: none;
}

/* dice icon btn */
button {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  border: none;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
  cursor: pointer;
}

/* dice icon btn hover effects */
button:hover {
  box-shadow: 0 0 45px hsl(150, 100%, 66%);
}

/* credit section */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media query */
@media screen and (min-width:500px) and (max-width:780px) {
  main {
    width: 25rem;
  }

  .pattern-divider-mobile {
    display: block;
    margin: 3rem;
  }

  .pattern-divider-desktop {
    display: none;
  }
}

@media screen and (max-width:500px) {
  main {
    width: 20rem;
    padding: 0 1rem 3rem;
  }

  .pattern-divider-mobile {
    display: block;
    margin: auto;
    padding: 3rem 0;
  }

  .pattern-divider-desktop {
    display: none;
  }
}
