* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(220, 22%, 16%);
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
}

main {
  background-color: hsl(213, 18%, 24%);
  color: hsl(193, 38%, 86%);
  padding: 1.25rem 1.25rem 3rem;
  border-radius: 1.25rem;
  position: relative;
  width: 30rem;
}

@media screen and (max-width:780px) {
  main {
    width: 25rem;
  }
}

.pattern-divider img {
  margin: 2rem;
}

.advice-id {
  color: hsl(150, 100%, 66%);
  font-size: 20px;
  letter-spacing: 5px;
}

.advice-txt {
  color: hsl(193, 38%, 86%);
  font-size: 28px
}

button {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  border: none;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
